<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.eattandance.app.eattendance">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".eAttendanceApplication"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.activities.SplashActivity" android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activities.SignInActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ui.activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".ui.activities.CreateAccountActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

    </application>

</manifest>
